*{
    margin: 0;
    padding: 0;
}

.banner{
    background-color: #F4F4F4;
    padding: 10px;
    margin: 30px;
    height: 40px;
    font-size: 30px;
    font-weight: bold;    
    color: #B7D088;        
}